### Installing and importing packages

In [ ]:
import pandas as pd
import sqlalchemy as sa
pd.set_option('display.max_rows', 1000)

### Making a connection

In [ ]:
unicorn_url = 'postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Unicorn?sslmode=require'

Remember: Connecting with SQLAlchemy always works in two steps:

1.   Create an engine
2.   Make a connection

In [ ]:
engine = sa.create_engine(unicorn_url)
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

### Schema

## Tasks:

In [ ]:
#
query = """
SELECT *
FROM customers
LIMIT 10
"""

display(pd.read_sql(sa.text(query),connection))

   customer_id       customer_name customer_segment
0            1       Aaron Bergman         Consumer
1            2       Aaron Hawkins        Corporate
2            3      Aaron Smayling        Corporate
3            4     Adam Bellavance      Home Office
4            5           Adam Hart        Corporate
5            6  Adam Shillingsburg         Consumer
6            7       Adrian Barton         Consumer
7            8         Adrian Hane      Home Office
8            9        Adrian Shami      Home Office
9           10         Aimee Bixby         Consumer

In [ ]:
# 1. How many customers do we have in the data?
query = """
SELECT COUNT(DISTINCT customer_id)
FROM customers
"""

display(pd.read_sql(sa.text(query),connection))

   count
0    795

In [ ]:
# 2. What was the city with the most profit for the company in 2015?
query = """
SELECT shipping_city, SUM(order_profits) AS city_profits
FROM order_details od
JOIN orders o
ON o.order_id = od.order_id
WHERE EXTRACT(YEAR FROM o.order_date) = 2015
GROUP BY shipping_city
ORDER BY city_profits DESC
LIMIT 1
"""

display(pd.read_sql(sa.text(query),connection))

   shipping_city  city_profits
0  New York City       14753.0

In [ ]:
# 4. How many different cities do we have in the data? Please refer just to the city name and not similar city names in different states
query = """
SELECT
COUNT (DISTINCT shipping_city)
FROM orders
ORDER BY 1
"""

display(pd.read_sql(sa.text(query),connection))

   count
0    531

In [ ]:
# 5. Show the total spent by customers from low to high.
query = """
SELECT
  c.customer_id,
  SUM(od.quantity * od.order_sales) AS total_spent
FROM customers c
JOIN orders o
  ON c.customer_id = o.customer_id
JOIN order_details od
  ON o.order_id = od.order_id
GROUP BY 1
ORDER BY 1
"""
display(pd.read_sql(sa.text(query),connection))

     customer_id  total_spent
0              1       1986.0
1              2      11455.0
2              3       9091.0
3              4      35200.0
4              5       9666.0
5              6      14434.0
6              7     143865.0
7              8       7797.0
8              9        276.0
9             10       3118.0
10            11       3626.0
11            12      24775.0
12            13       7423.0
13            14      21648.0
14            15      16789.0
15            16       1642.0
16            17       2397.0
17            18      23443.0
18            19      18822.0
19            20       1016.0
20            21      16078.0
21            22       3683.0
22            23       3804.0
23            24       4061.0
24            25       2736.0
25            26       1211.0
26            27      13467.0
27            28       3060.0
28            29       8476.0
29            30      19700.0
30            31      16744.0
31            32       5499.0
32            33      14282.0
33            34       1230.0
34            35       4169.0
35            36      26083.0
36            37       1536.0
37            38        232.0
38            39       2622.0
39            40       6295.0
40            41       9501.0
41            42       3436.0
42            43      22927.0
43            44       1460.0
44            45      14386.0
45            46      54396.0
46            47      21700.0
47            48      10543.0
48            49      25662.0
49            50       7166.0
50            51        652.0
51            52      29593.0
52            53      21911.0
53            54        322.0
54            55      29190.0
55            56       1573.0
56            57      21847.0
57            58       7163.0
58            59       4652.0
59            60      25246.0
60            61      11145.0
61            62      80723.0
62            63      10040.0
63            64       2936.0
64            65       1713.0
65            66       1774.0
66            67       4547.0
67            68      10068.0
68            69      12180.0
69            70       5074.0
70            71       1143.0
71            72       1522.0
72            73       8605.0
73            74      12230.0
74            75      14664.0
75            76      88180.0
76            77       5109.0
77            78      17675.0
78            79      26126.0
79            80      13535.0
80            81       7678.0
81            82       5468.0
82            83       5524.0
83            84       3220.0
84            85       2012.0
85            86      10295.0
86            87      11323.0
87            88      30765.0
88            89      22084.0
89            90      14992.0
90            91     162612.0
91            92      18330.0
92            93      14223.0
93            94      10447.0
94            95        637.0
95            96       1185.0
96            97       5728.0
97            98       1033.0
98            99        977.0
99           100      29904.0
100          101       7126.0
101          102      13157.0
102          103      44185.0
103          104        958.0
104          105       2221.0
105          106      12282.0
106          107      13146.0
107          108       5876.0
108          109       2445.0
109          110      18759.0
110          111      21693.0
111          112      14306.0
112          113       8908.0
113          114      36994.0
114          115       4387.0
115          116       4157.0
116          117       8657.0
117          118       1152.0
118          119       7647.0
119          120       2895.0
120          121       8614.0
121          122       4780.0
122          123       1158.0
123          124         85.0
124          125       4761.0
125          126       6953.0
126          127       6845.0
127          128       2246.0
128          129      12382.0
129          130      12153.0
130          131       3787.0
131          132      12281.0
132          133      51874.0
133          134      41041.0
134          135       2689.0
135          136       7414.0
136          137       4326.0
137          138      25758.0
138          139       6826.0
139          140       9234.0
140          141       4593.0
141          142       8077.0
142          143      13548.0
143          144       3804.0
144          145       4329.0
145          146       9809.0
146          147      20299.0
147          148      13778.0
148          149      13544.0
149          150      13716.0
150          151       4406.0
151          152      10512.0
152          153       4449.0
153          154      13033.0
154          155      27835.0
155          156      13288.0
156          157      50631.0
157          158      49463.0
158          159      12128.0
159          160       7601.0
160          161      10973.0
161          162       1076.0
162          163       1478.0
163          164       5412.0
164          165       5905.0
165          166      26672.0
166          167       3547.0
167          168      29641.0
168          169        499.0
169          170      50078.0
170          171      21938.0
171          172      13481.0
172          173       9589.0
173          174       2170.0
174          175       5448.0
175          176      39587.0
176          177      11520.0
177          178      11197.0
178          179      16737.0
179          180      22164.0
180          181       5984.0
181          182      14131.0
182          183       7571.0
183          184      15497.0
184          185       6430.0
185          186       9298.0
186          187       5322.0
187          188      15298.0
188          189      17685.0
189          190       6390.0
190          191      30879.0
191          192      21447.0
192          193      10972.0
193          194       8715.0
194          195      65104.0
195          196       6607.0
196          197      11410.0
197          198       7013.0
198          199       5453.0
199          200      29682.0
200          201       4261.0
201          202       6165.0
202          203      20616.0
203          204      24699.0
204          205       6761.0
205          206      12796.0
206          207      21084.0
207          208       9184.0
208          209       4565.0
209          210       5300.0
210          211      13321.0
211          212       5871.0
212          213       7718.0
213          214      19405.0
214          215      29994.0
215          216      21286.0
216          217      23474.0
217          218       6418.0
218          219      29702.0
219          220       6141.0
220          221       1858.0
221          222      12374.0
222          223       4077.0
223          224      11885.0
224          225      17396.0
225          226       9282.0
226          227       9086.0
227          228       4272.0
228          229        614.0
229          230      12672.0
230          231      26690.0
231          232      16089.0
232          233      10026.0
233          234       4620.0
234          235       1009.0
235          236      19240.0
236          237        871.0
237          238       6209.0
238          239       2306.0
239          240       5845.0
240          241      34411.0
241          242       5806.0
242          243       4063.0
243          244       4892.0
244          245      11612.0
245          246      17938.0
246          247      11737.0
247          248        440.0
248          249      20634.0
249          250      37849.0
250          251       6395.0
251          252      12234.0
252          253      11294.0
253          254       8902.0
254          255      31467.0
255          256      10115.0
256          257      10716.0
257          258      32431.0
258          259       7032.0
259          260      27282.0
260          261       3742.0
261          262       3730.0
262          263       2287.0
263          264       7084.0
264          265       3137.0
265          266       6333.0
266          267      21243.0
267          268       9817.0
268          269       2337.0
269          270        641.0
270          271      21540.0
271          272       4190.0
272          273       9521.0
273          274      16410.0
274          275      17905.0
275          276       8066.0
276          277       5480.0
277          278       2081.0
278          279       1979.0
279          280       9586.0
280          281       9511.0
281          282      18893.0
282          283       7905.0
283          284      15727.0
284          285      29933.0
285          286      14656.0
286          287      18001.0
287          288      18407.0
288          289       9460.0
289          290      43341.0
290          291      10406.0
291          292        273.0
292          293       9807.0
293          294      15634.0
294          295      15676.0
295          296      15354.0
296          297      16406.0
297          298       8860.0
298          299       7514.0
299          300      18180.0
300          301       4567.0
301          302      12246.0
302          303       7831.0
303          304      22734.0
304          305      17640.0
305          306      11021.0
306          307      30632.0
307          308      36844.0
308          309       9735.0
309          310        417.0
310          311      84279.0
311          312      26603.0
312          313      73018.0
313          314       5123.0
314          315       1117.0
315          316        753.0
316          317       5335.0
317          318       1470.0
318          319       4207.0
319          320      10233.0
320          321      23439.0
321          322       3355.0
322          323      51261.0
323          324       1150.0
324          325      20927.0
325          326       8740.0
326          327      11737.0
327          328      61655.0
328          329       4197.0
329          330      16031.0
330          331       3927.0
331          332      10052.0
332          333        694.0
333          334      15864.0
334          335      44303.0
335          336      14352.0
336          337      38456.0
337          338       2321.0
338          339      35320.0
339          340       6905.0
340          341       6640.0
341          342      18442.0
342          343      24342.0
343          344       6863.0
344          345       9111.0
345          346      49130.0
346          347      42346.0
347          348      11410.0
348          349      19037.0
349          350       9799.0
350          351       8109.0
351          352       2684.0
352          353      11291.0
353          354       2025.0
354          355        228.0
355          356       7394.0
356          357      13003.0
357          358       6830.0
358          359       3656.0
359          360      11886.0
360          361       1179.0
361          362       2835.0
362          363       7138.0
363          364       4405.0
364          365       3329.0
365          366      13302.0
366          367      13113.0
367          368      10784.0
368          369       5236.0
369          370      22858.0
370          371       1353.0
371          372       7133.0
372          373      31917.0
373          374      14664.0
374          375      22960.0
375          376       3612.0
376          377       6384.0
377          378       3715.0
378          379       2592.0
379          380      44626.0
380          381      22280.0
381          382      31599.0
382          383        842.0
383          384      11958.0
384          385      11658.0
385          386       7938.0
386          387       2343.0
387          388    1132067.0
388          389       9216.0
389          390      46693.0
390          391      32802.0
391          392      47394.0
392          393       3486.0
393          394       4084.0
394          395       2713.0
395          396       5402.0
396          397      39381.0
397          398      80524.0
398          399       2099.0
399          400       1736.0
400          401      10793.0
401          402      16703.0
402          403       2277.0
403          404       8860.0
404          405      15715.0
405          406       4694.0
406          407      14827.0
407          408       7991.0
408          409      43094.0
409          410      21268.0
410          411      16523.0
411          412      13064.0
412          413      13313.0
413          414       8950.0
414          415      14076.0
415          416      11115.0
416          417      52027.0
417          418      65608.0
418          419        172.0
419          420       4133.0
420          421      14237.0
421          422       7037.0
422          423      13667.0
423          424      21917.0
424          425       9791.0
425          426       3106.0
426          427       9969.0
427          428      25934.0
428          429      20755.0
429          430      13318.0
430          431      19008.0
431          432      27189.0
432          433      35864.0
433          434       7631.0
434          435      47864.0
435          436      22623.0
436          437       1903.0
437          438      18572.0
438          439       4183.0
439          440       8482.0
440          441      25274.0
441          442      74912.0
442          443       1737.0
443          444       6846.0
444          445      38709.0
445          446       9630.0
446          447      18432.0
447          448        263.0
448          449       1417.0
449          450        788.0
450          451      36966.0
451          452      17267.0
452          453       4124.0
453          454       7641.0
454          455      18255.0
455          456         15.0
456          457       9744.0
457          458      35298.0
458          459      13240.0
459          460      18533.0
460          461      32747.0
461          462       9985.0
462          463      25960.0
463          464      10731.0
464          465      15208.0
465          466      13988.0
466          467       1333.0
467          468       9709.0
468          469       9514.0
469          470       8755.0
470          471       2902.0
471          472      12455.0
472          473      15156.0
473          474       5007.0
474          475      12204.0
475          476       4531.0
476          477       3113.0
477          478      27581.0
478          479       5650.0
479          480      28874.0
480          481        887.0
481          482       4529.0
482          483       3302.0
483          484      15324.0
484          485      11495.0
485          486       4794.0
486          487      71599.0
487          488       1560.0
488          489      21174.0
489          490      49288.0
490          491      13013.0
491          492      11693.0
492          493      13098.0
493          494      29373.0
494          495       1394.0
495          496      10915.0
496          497      14946.0
497          498       7222.0
498          499       2775.0
499          500       6118.0
500          501       1127.0
501          502       2574.0
502          503      15631.0
503          504       5343.0
504          505       9333.0
505          506       6905.0
506          507       4927.0
507          508       3618.0
508          509      18764.0
509          510       5057.0
510          511       5124.0
511          512       7333.0
512          513       6473.0
513          514       5673.0
514          515      24600.0
515          516      13098.0
516          517      12789.0
517          518      11662.0
518          519       6583.0
519          520      20574.0
520          521        942.0
521          522      14068.0
522          523       8518.0
523          524       6362.0
524          525       2455.0
525          526      10498.0
526          527      13423.0
527          528      10977.0
528          529        606.0
529          530      12827.0
530          531       4846.0
531          532       9636.0
532          533       2587.0
533          534      11365.0
534          535       3440.0
535          536      14347.0
536          537       5542.0
537          538       5976.0
538          539      12374.0
539          540      27071.0
540          541       4769.0
541          542      15785.0
542          543       4471.0
543          544      18910.0
544          545      10098.0
545          546         72.0
546          547      27996.0
547          548      26626.0
548          549       6446.0
549          550        334.0
550          551       1892.0
551          552      24711.0
552          553       8235.0
553          554      20922.0
554          555       6912.0
555          556       5917.0
556          557      29139.0
557          558      35212.0
558          559      38003.0
559          560      10927.0
560          561       6326.0
561          562      18330.0
562          563      19738.0
563          564       1135.0
564          565       4116.0
565          566       7498.0
566          567      10897.0
567          568      28222.0
568          569       6932.0
569          570       7889.0
570          571        952.0
571          572       9022.0
572          573      15365.0
573          574       8256.0
574          575      12825.0
575          576       8451.0
576          577      23496.0
577          578       2580.0
578          579      65837.0
579          580       6791.0
580          581      19597.0
581          582      12411.0
582          583       9413.0
583          584       5466.0
584          585       2190.0
585          586       4203.0
586          587      11886.0
587          588       3929.0
588          589      69301.0
589          590      10660.0
590          591       6793.0
591          592       6898.0
592          593       6662.0
593          594        846.0
594          595       8485.0
595          596      44273.0
596          597       5536.0
597          598      18133.0
598          599       6458.0
599          600      10633.0
600          601      18196.0
601          602      40467.0
602          603       3342.0
603          604      50899.0
604          605        509.0
605          606       5660.0
606          607      47942.0
607          608      27699.0
608          609       9782.0
609          610      15376.0
610          611      16111.0
611          612       4106.0
612          613        679.0
613          614       7323.0
614          615       8643.0
615          616      31338.0
616          617       3264.0
617          618      11325.0
618          619       6216.0
619          620       1152.0
620          621       4449.0
621          622      14499.0
622          623      61134.0
623          624       5548.0
624          625      32687.0
625          626        240.0
626          627      11076.0
627          628      10322.0
628          629       3585.0
629          630      21862.0
630          631      26471.0
631          632      24554.0
632          633      32329.0
633          634      15012.0
634          635      43060.0
635          636       3630.0
636          637       2041.0
637          638      14598.0
638          639       8666.0
639          640      27179.0
640          641      12545.0
641          642        946.0
642          643      11362.0
643          644      30283.0
644          645      25453.0
645          646       7305.0
646          647       4781.0
647          648       9171.0
648          649        242.0
649          650      21400.0
650          651      20282.0
651          652      41610.0
652          653       5103.0
653          654       2836.0
654          655       4737.0
655          656       7194.0
656          657         82.0
657          658      18378.0
658          659      19617.0
659          660      18386.0
660          661       4202.0
661          662       5403.0
662          663       2809.0
663          664      14415.0
664          665       5531.0

In [ ]:
# 6.What is the most profitable city in the State of Tennessee?
query = """
SELECT
  o.shipping_city,
  SUM(od.order_profits)
FROM order_details od
JOIN orders o
  ON od.order_id = o.order_id
WHERE o.shipping_state = 'Tennessee'
GROUP BY 1
ORDER BY 2 DESC
LIMIT 1
"""

display(pd.read_sql(sa.text(query),connection))

  shipping_city   sum
0       Lebanon  83.0

In [ ]:
# 7.What’s the average annual profit for that city across all years?
query = """
SELECT
  AVG(od.order_profits) AS average_profit
FROM orders o
JOIN order_details od
  ON o.order_id = od.order_id
WHERE o.shipping_city = 'Lebanon'
"""

display(pd.read_sql(sa.text(query),connection))

   average_profit
0       27.666667

In [ ]:
# 8.What is the distribution of customer types in the data?
query = """
SELECT DISTINCT
  customer_segment,
  COUNT(customer_id) AS num_customers
FROM customers
GROUP BY 1
"""

display(pd.read_sql(sa.text(query),connection))

  customer_segment  num_customers
0         Consumer            410
1        Corporate            237
2      Home Office            148

In [ ]:
# 9. What’s the most profitable product category on average in Iowa across all years?
query = """
SELECT
  p.product_category,
  AVG(od.order_profits)
FROM order_details od
JOIN orders o
ON od.order_id = o.order_id
JOIN product p
ON od.product_id = p.product_id
WHERE o.shipping_state = 'Iowa'
GROUP BY o.shipping_state, p.product_category
LIMIT 1

"""

display(pd.read_sql(sa.text(query),connection))

  product_category     avg
0        Furniture  130.25

In [ ]:
# 10. What is the most popular product in that category across all states in 2016?
query = """
SELECT
  p.product_name,
  SUM(od.quantity) AS total_quantity
FROM product p
JOIN order_details od
  ON p.product_id = od.product_id
JOIN orders o
  ON od.order_id = o.order_id
WHERE p.product_category = 'Furniture'
  AND EXTRACT(YEAR FROM o.order_date) = 2016
GROUP BY 1
ORDER BY 2 DESC
LIMIT 1

"""

display(pd.read_sql(sa.text(query),connection))

                                 product_name  total_quantity
0  Global Push Button Manager's Chair, Indigo            22.0

In [ ]:
# 11. Which customer got the most discount in the data? (in total amount)
query = """
WITH order_discounts AS (
    SELECT
        o.customer_id,
        o.order_id,
        SUM(COALESCE(od.order_discount, 0)) AS total_order_discount
    FROM order_details od
    JOIN orders o ON od.order_id = o.order_id
    GROUP BY o.customer_id, o.order_id
)
SELECT
    c.customer_id,
    SUM(total_order_discount) AS total_discount
FROM order_discounts od
JOIN customers c ON od.customer_id = c.customer_id
GROUP BY c.customer_id
ORDER BY total_discount DESC
LIMIT 1
"""

display(pd.read_sql(sa.text(query),connection))

   customer_id  total_discount
0          792             7.9

In [ ]:
# 12. How widely did monthly profits vary in 2018?
query = """
SELECT
  EXTRACT(MONTH FROM o.order_date) AS month,
  SUM(od.order_profits) AS profit
FROM order_details od
JOIN orders o
  ON od.order_id = o.order_id
WHERE EXTRACT(YEAR FROM o.order_date) = 2018
GROUP BY 1

"""

display(pd.read_sql(sa.text(query),connection))

    month   profit
0     1.0   7137.0
1     2.0   1612.0
2     3.0  14758.0
3     4.0    934.0
4     5.0   6342.0
5     6.0   8226.0
6     7.0   6951.0
7     8.0   9034.0
8     9.0  10987.0
9    10.0   9272.0
10   11.0   9217.0
11   12.0   8473.0

In [ ]:
# 13. Which was the biggest order regarding sales in 2015?
query = """
SELECT
  o.order_id,
  SUM(od.order_sales) AS sales_per_order
FROM order_details od
JOIN orders o
  ON od.order_id = o.order_id
WHERE EXTRACT(YEAR FROM o.order_date) = 2015
GROUP BY 1
ORDER BY 2 DESC
LIMIT 1

"""

display(pd.read_sql(sa.text(query),connection))

         order_id  sales_per_order
0  CA-2015-145317          23660.0

In [ ]:
# 14. What was the rank of each city in the East region in 2015 in quantity?
query = """
SELECT DISTINCT
  o.shipping_city,
  ROW_NUMBER() OVER(ORDER BY od.quantity)
FROM order_details od
JOIN orders o
  ON od.order_id = o.order_id
WHERE EXTRACT(YEAR FROM o.order_date) = 2015
  AND o.shipping_region = 'East'
ORDER BY 1
"""

display(pd.read_sql(sa.text(query),connection))

     shipping_city  row_number
0            Akron         201
1            Akron         251
2            Akron         352
3        Baltimore          41
4        Baltimore          81
5        Baltimore          82
6        Baltimore         235
7        Baltimore         242
8        Baltimore         499
9           Bangor         160
10          Bangor         492
11          Bangor         512
12         Beverly         336
13         Beverly         376
14         Beverly         421
15   Bowling Green          90
16         Bristol           5
17         Bristol           7
18         Bristol         131
19         Bristol         142
20         Bristol         174
21         Bristol         405
22         Buffalo           8
23         Buffalo         248
24         Buffalo         385
25         Buffalo         504
26         Chester         178
27         Chester         180
28         Chester         377
29      Cincinnati          25
30      Cincinnati         456
31       Cleveland         116
32       Cleveland         156
33       Cleveland         198
34       Cleveland         371
35         Clifton         308
36         Clifton         397
37         Clinton         183
38         Clinton         184
39         Clinton         415
40         Clinton         479
41        Columbia         122
42        Columbia         237
43        Columbia         238
44        Columbus          32
45        Columbus          61
46        Columbus          77
47        Columbus          92
48        Columbus         100
49        Columbus         101
50        Columbus         102
51        Columbus         117
52        Columbus         125
53        Columbus         130
54        Columbus         151
55        Columbus         163
56        Columbus         176
57        Columbus         186
58        Columbus         187
59        Columbus         192
60        Columbus         193
61        Columbus         209
62        Columbus         211
63        Columbus         243
64        Columbus         289
65        Columbus         303
66        Columbus         333
67        Columbus         344
68        Columbus         350
69        Columbus         361
70        Columbus         363
71        Columbus         365
72        Columbus         375
73        Columbus         378
74        Columbus         380
75        Columbus         390
76        Columbus         403
77        Columbus         419
78        Columbus         423
79        Columbus         439
80        Columbus         475
81        Columbus         480
82        Columbus         481
83        Columbus         483
84        Columbus         515
85         Concord         358
86         Concord         387
87        Cranston          46
88        Cranston          74
89        Cranston          91
90        Cranston         112
91        Cranston         171
92        Cranston         367
93        Cranston         404
94           Dover          80
95           Dover         145
96           Dover         257
97           Dover         258
98           Dover         356
99           Dover         462
100          Dover         498
101        Everett         188
102        Everett         472
103        Everett         497
104      Fairfield         157
105      Fairfield         175
106      Fairfield         290
107      Fairfield         295
108      Fairfield         337
109      Fairfield         413
110      Fairfield         457
111      Fairfield         469
112      Fairfield         482
113      Fairfield         505
114       Franklin         172
115       Franklin         179
116       Franklin         393
117       Freeport          97
118     Hackensack         222
119     Hackensack         262
120     Hackensack         263
121     Hackensack         389
122     Hackensack         392
123     Hackensack         493
124       Hamilton          73
125       Hamilton         280
126       Hamilton         288
127      Hempstead         204
128      Hempstead         309
129      Hempstead         368
130      Jamestown         149
131      Jamestown         450
132           Kent         370
133       Lakewood           4
134       Lakewood          43
135       Lakewood         138
136       Lakewood         140
137       Lakewood         199
138       Lakewood         444
139       Lakewood         455
140       Lakewood         466
141       Lakewood         494
142      Lancaster          53
143      Lancaster         267
144      Lancaster         311
145      Lancaster         420
146      Lancaster         428
147      Lancaster         438
148      Lancaster         490
149       Lawrence         126
150       Lawrence         173
151       Lawrence         185
152       Lawrence         240
153       Lawrence         241
154       Lawrence         355
155       Lawrence         422
156       Lawrence         473
157         Linden         467
158     Long Beach          87
159     Long Beach          88
160     Long Beach         113
161     Long Beach         189
162     Long Beach         191
163     Long Beach         291
164     Long Beach         293
165     Long Beach         391
166     Long Beach         412
167     Long Beach         433
168     Long Beach         503
169         Lorain         487
170         Lowell          93
171         Lowell          95
172         Lowell         132
173         Lowell         244
174         Lowell         297
175         Lowell         366
176         Lowell         436
177         Marion          18
178         Marion          26
179         Marion          47
180          Mason         148
181          Mason         152
182          Mason         207
183         Medina         250
184         Medina         430
185         Medina         454
186        Meriden          64
187        Meriden         210
188        Meriden         398
189        Meriden         410
190     Middletown          55
191   Mount Vernon         231
192   Mount Vernon         301
193   New Rochelle          22
194   New Rochelle          57
195   New Rochelle          86
196   New Rochelle         357
197   New Rochelle         388
198  New York City           1
199  New York City           9
200  New York City          13
201  New York City          17
202  New York City          20
203  New York City          27
204  New York City          28
205  New York City          29
206  New York City          33
207  New York City          35
208  New York City          36
209  New York City          38
210  New York City          40
211  New York City          42
212  New York City          44
213  New York City          50
214  New York City          51
215  New York City          54
216  New York City          56
217  New York City          59
218  New York City          62
219  New York City          65
220  New York City          68
221  New York City          79
222  New York City          85
223  New York City          96
224  New York City          98
225  New York City          99
226  New York City         103
227  New York City         108
228  New York City         115
229  New York City         118
230  New York City         119
231  New York City         120
232  New York City         121
233  New York City         123
234  New York City         124
235  New York City         127
236  New York City         128
237  New York City         129
238  New York City         134
239  New York City         135
240  New York City         136
241  New York City         137
242  New York City         146
243  New York City         162
244  New York City         167
245  New York City         168
246  New York City         169
247  New York City         170
248  New York City         177
249  New York City         182
250  New York City         194
251  New York City         195
252  New York City         202
253  New York City         205
254  New York City         208
255  New York City         219
256  New York City         224
257  New York City         232
258  New York City         236
259  New York City         246
260  New York City         247
261  New York City         252
262  New York City         253
263  New York City         254
264  New York City         255
265  New York City         261
266  New York City         264
267  New York City         268
268  New York City         270
269  New York City         271
270  New York City         273
271  New York City         274
272  New York City         278
273  New York City         283
274  New York City         285
275  New York City         292
276  New York City         298
277  New York City         300
278  New York City         302
279  New York City         305
280  New York City         306
281  New York City         307
282  New York City         310
283  New York City         312
284  New York City         313
285  New York City         314
286  New York City         321
287  New York City         323
288  New York City         324
289  New York City         334
290  New York City         338
291  New York City         339
292  New York City         340
293  New York City         345
294  New York City         348
295  New York City         349
296  New York City         351
297  New York City         354
298  New York City         359
299  New York City         360
300  New York City         364
301  New York City         372
302  New York City         373
303  New York City         381
304  New York City         382
305  New York City         383
306  New York City         394
307  New York City         395
308  New York City         399
309  New York City         401
310  New York City         409
311  New York City         411
312  New York City         417
313  New York City         424
314  New York City         431
315  New York City         435
316  New York City         437
317  New York City         442
318  New York City         449
319  New York City         451
320  New York City         452
321  New York City         459
322  New York City         465
323  New York City         468
324  New York City         470
325  New York City         471
326  New York City         477
327  New York City         478
328  New York City         486
329  New York City         488
330  New York City         489
331  New York City         491
332  New York City         495
333  New York City         496
334  New York City         506
335  New York City         508
336  New York City         513
337  New York City         514
338  New York City         516
339  New York City         517
340  New York City         518
341  New York City         519
342  New York City         520
343  New York City         521
344  New York City         522
345  New York City         523
346  New York City         524
347  New York City         525
348  New York City         526
349  New York City         527
350         Newark          30
351         Newark          45
352         Newark          76
353         Newark          78
354         Newark         214
355         Newark         215
356         Newark         220
357         Newark         260
358         Newark         279
359         Newark         281
360         Newark         282
361         Newark         299
362         Newark         304
363         Newark         341
364         Newark         400
365         Newark         440
366         Newark         460
367         Newark         461
368  Niagara Falls         239
369      Oceanside          75
370      Oceanside         190
371         Orange          66
372         Orange          94
373          Parma         139
374          Parma         141
375   Philadelphia           2
376   Philadelphia           3
377   Philadelphia          10
378   Philadelphia          15
379   Philadelphia          16
380   Philadelphia          19
381   Philadelphia          21
382   Philadelphia          31
383   Philadelphia          34
384   Philadelphia          37
385   Philadelphia          39
386   Philadelphia          48
387   Philadelphia          49
388   Philadelphia          52
389   Philadelphia          58
390   Philadelphia          60
391   Philadelphia          67
392   Philadelphia          69
393   Philadelphia          70
394   Philadelphia          71
395   Philadelphia          83
396   Philadelphia          84
397   Philadelphia          89
398   Philadelphia         106
399   Philadelphia         109
400   Philadelphia         111
401   Philadelphia         114
402   Philadelphia         143
403   Philadelphia         144
404   Philadelphia         147
405   Philadelphia         153
406   Philadelphia         155
407   Philadelphia         158
408   Philadelphia         161
409   Philadelphia         164
410   Philadelphia         165
411   Philadelphia         166
412   Philadelphia         181
413   Philadelphia         196
414   Philadelphia         197
415   Philadelphia         200
416   Philadelphia         206
417   Philadelphia         212
418   Philadelphia         213
419   Philadelphia         216
420   Philadelphia         217
421   Philadelphia         218
422   Philadelphia         221
423   Philadelphia         227
424   Philadelphia         228
425   Philadelphia         229
426   Philadelphia         230
427   Philadelphia         233
428   Philadelphia         249
429   Philadelphia         256
430   Philadelphia         269
431   Philadelphia         272
432   Philadelphia         275
433   Philadelphia         276
434   Philadelphia         277
435   Philadelphia         284
436   Philadelphia         286
437   Philadelphia         287
438   Philadelphia         294
439   Philadelphia         315
440   Philadelphia         316
441   Philadelphia         317
442   Philadelphia         322
443   Philadelphia         327
444   Philadelphia         328
445   Philadelphia         329
446   Philadelphia         331
447   Philadelphia         332
448   Philadelphia         335
449   Philadelphia         342
450   Philadelphia         343
451   Philadelphia         353
452   Philadelphia         362
453   Philadelphia         369
454   Philadelphia         374
455   Philadelphia         379
456   Philadelphia         384
457   Philadelphia         386
458   Philadelphia         402
459   Philadelphia         406
460   Philadelphia         407
461   Philadelphia         408
462   Philadelphia         414
463   Philadelphia         416
464   Philadelphia         418
465   Philadelphia         425
466   Philadelphia         426
467   Philadelphia         427
468   Philadelphia         432
469   Philadelphia         434
470   Philadelphia         441
471   Philadelphia         443
472   Philadelphia         448
473   Philadelphia         453
474   Philadelphia         458
475   Philadelphia         463
476   Philadelphia         484
477   Philadelphia         500
478   Philadelphia         501
479   Philadelphia         507
480   Philadelphia         509
481   Philadelphia         510
482   Philadelphia         511
483     Plainfield          23
484     Plainfield          72
485     Providence         154
486     Providence         259
487     Providence         325
488     Providence         326
489     Providence         429
490        Reading         104
491        Reading         347
492         Revere          63
493         Revere         330
494      Rochester         150
495      Rochester         159
496      Rochester         203
497      Rochester         396
498    Springfield          12
499    Springfield          14
500    Springfield         296
501         Toledo          24
502         Toledo         346
503         Toledo         474
504           Troy         223
505           Troy         485
506          Utica         234
507          Utica         318
508          Utica         319
509          Utica         320
510          Utica         502
511      Watertown           6
512      Watertown          11
513      Watertown         245
514      Watertown         476
515     Wilmington         133
516     Wilmington         445
517     Wilmington         447
518     Wilmington         464
519     Woonsocket         107
520        Yonkers         105
521        Yonkers         110
522        Yonkers         225
523        Yonkers         226
524        Yonkers         265
525        Yonkers         266
526        Yonkers         446

In [ ]:
# 15.Display customer names for customers who are in the segment ‘Consumer’ or ‘Corporate.’ How many customers are there in total?
query = """
SELECT DISTINCT
  customer_name,
  ROW_NUMBER() OVER(ORDER BY customer_name) AS total_customers
FROM customers
WHERE customer_segment IN('Consumer', 'Corporate')
GROUP BY ROLLUP(customer_name)
ORDER BY 2
"""

display(pd.read_sql(sa.text(query),connection))

              customer_name  total_customers
0             Aaron Bergman                1
1             Aaron Hawkins                2
2            Aaron Smayling                3
3                 Adam Hart                4
4        Adam Shillingsburg                5
5             Adrian Barton                6
6               Aimee Bixby                7
7               Alan Barnes                8
8               Alan Haines                9
9                Alan Hwang               10
10        Alan Schoenberger               11
11             Alan Shonely               12
12          Alejandro Grove               13
13         Alejandro Savely               14
14      Aleksandra Gannaway               15
15               Alex Avila               16
16             Alex Grayson               17
17             Alex Russell               18
18           Alice McCarthy               19
19             Allen Armold               20
20           Allen Goldenen               21
21         Allen Rosenblatt               22
22            Alyssa Crouse               23
23                  Amy Cox               24
24                 Amy Hunt               25
25             Andrew Allen               26
26          Andrew Gjertsen               27
27           Andrew Roberts               28
28             Andy Gerbode               29
29              Andy Reiter               30
30               Andy Yotov               31
31           Anemone Ratner               32
32              Angele Hood               33
33                Ann Blume               34
34                Ann Chong               35
35            Anna Andreadi               36
36               Anna Chung               37
37              Anna Gayman               38
38            Anna Häberlin               39
39           Anne McFarland               40
40            Annie Thurman               41
41             Annie Zypern               42
42           Anthony Jacobs               43
43          Anthony Johnson               44
44        Anthony O'Donnell               45
45           Anthony Rawles               46
46             Anthony Witt               47
47           Arianne Irving               48
48             Art Ferguson               49
49               Art Foster               50
50            Arthur Gainer               51
51           Arthur Prichep               52
52            Ashley Jarboe               53
53             Astrea Jones               54
54           Barbara Fisher               55
55          Barry Blumstein               56
56        Barry Französisch               57
57           Barry Gonzalez               58
58               Barry Pond               59
59            Barry Weirich               60
60                Bart Folk               61
61             Bart Pistole               62
62             Bart Watters               63
63             Becky Martin               64
64                Becky Pak               65
65             Ben Peterman               66
66              Ben Wallace               67
67       Benjamin Patterson               68
68          Benjamin Venier               69
69           Berenike Kampe               70
70            Beth Fritzler               71
71               Beth Paige               72
72           Bill Donatelli               73
73            Bill Overfelt               74
74             Bill Shonely               75
75             Bill Stewart               76
76               Bill Tyler               77
77              Bobby Elias               78
78            Bobby Odegard               79
79            Bobby Trafton               80
80             Brad Norvell               81
81          Bradley Drucker               82
82           Bradley Nguyen               83
83            Brenda Bowman               84
84            Brendan Murry               85
85            Brendan Sweed               86
86             Brian Dahlen               87
87          Brian DeCherney               88
88               Brian Derr               89
89               Brian Moss               90
90            Brian Stugart               91
91           Brian Thompson               92
92        Brooke Gillingham               93
93          Brosina Hoffman               94
94         Bruce Degenhardt               95
95               Bruce Geld               96
96            Bruce Stewart               97
97              Bryan Davis               98
98              Bryan Mills               99
99          Candace McMahon              100
100              Cari Sayre              101
101         Cari Schnelling              102
102            Carl Jackson              103
103             Carl Ludwig              104
104             Carlos Daly              105
105           Carlos Meador              106
106          Carlos Soltero              107
107             Carol Adams              108
108            Carol Darley              109
109            Carol Triggs              110
110         Caroline Jumper              111
111       Cassandra Brandow              112
112          Cathy Prescott              113
113            Chad McGuire              114
114            Chad Sievert              115
115        Charles Crestani              116
116       Charles McCrossin              117
117         Charles Sheldon              118
118        Charlotte Melton              119
119     Chloris Kastensmidt              120
120            Chris Cortes              121
121            Chris McAfee              122
122         Chris Selesnick              123
123      Christina Anderson              124
124        Christina DeMoss              125
125  Christina VanderZanden              126
126       Christine Abelman              127
127          Christine Phan              128
128    Christine Sundaresam              129
129      Christopher Conant              130
130    Christopher Martinez              131
131        Christy Brittain              132
132             Chuck Magee              133
133             Chuck Sachs              134
134           Cindy Chapman              135
135        Cindy Schnelling              136
136           Cindy Stewart              137
137             Claire Gute              138
138        Claudia Bergmann              139
139           Clay Cheatham              140
140             Clay Ludtke              141
141            Clytie Kelty              142
142           Corey Catlett              143
143              Corey-Lock              144
144          Craig Carreira              145
145           Craig Carroll              146
146          Craig Molinari              147
147            Craig Reiter              148
148            Craig Yedwab              149
149             Cyma Kinney              150
150         Cynthia Arntzen              151
151           Cynthia Voltz              152
152         Damala Kotsonis              153
153            Dan Campbell              154
154              Dan Lawera              155
155         Dan Reichenbach              156
156             Dana Kaydos              157
157             Daniel Lacy              158
158            Dario Medina              159
159             Darren Budd              160
160          Darren Koutras              161
161           Darren Powers              162
162           Darrin Martin              163
163         Darrin Van Huff              164
164             Dave Brooks              165
165           Dave Hallsten              166
166               Dave Kipp              167
167            Dave Poirier              168
168            David Bremer              169
169          David Flashing              170
170          David Kendrick              171
171          David Philippe              172
172             David Smith              173
173            David Wiener              174
174             Dean Braden              175
175               Dean Katz              176
176            Debra Catini              177
177           Deirdre Greer              178
178       Delfina Latchford              179
179       Denise Leinenbach              180
180           Denise Monton              181
181             Dennis Kane              182
182           Denny Blanton              183
183               Denny Joy              184
184            Denny Ordway              185
185        Dianna Vittorini              186
186            Dionis Lloyd              187
187               Don Jones              188
188              Don Miller              189
189               Don Weiss              190
190         Dorothy Badders              191
191       Dorothy Dickinson              192
192          Dorothy Wardle              193
193            Dorris liebe              194
194           Doug Bickford              195
195             Doug Jacobs              196
196          Doug O'Connell              197
197            Duane Benoit              198
198            Duane Noonan              199
199              Ed Braxton              200
200               Ed Jacobs              201
201           Edward Becker              202
202            Edward Hooks              203
203           Edward Nazzal              204
204           Eleni McCrary              205
205       Elizabeth Moffitt              206
206           Ellis Ballard              207
207       Elpida Rittenbach              208
208             Emily Burns              209
209             Emily Grady              210
210              Emily Phan              211
211            Eric Barreto              212
212           Eric Hoffmann              213
213            Eric Murdock              214
214              Erica Bern              215
215           Erica Hackney              216
216             Erica Smith              217
217           Erin Ashbrook              218
218          Erin Creighton              219
219               Erin Mull              220
220              Erin Smith              221
221          Eudokia Martin              222
222          Eugene Barchas              223
223              Eva Jacobs              224
224           Evan Bailliet              225
225              Evan Henry              226
226           Filia McAdams              227
227          Frank Atkinson              228
228            Frank Hawley              229
229             Frank Olsen              230
230             Frank Preis              231
231              Fred Chung              232
232             Fred Harton              233
233            Fred Hopkins              234
234             Fred McMath              235
235          Fred Wasserman              236
236              Gary Hwang              237
237             Gary McGarr              238
238           Gary Zandusky              239
239               Gene Hale              240
240            Gene McClure              241
241         George Ashbrook              242
242             George Bell              243
243         George Zrebassa              244
244       Georgia Rosenberg              245
245       Giulietta Baptist              246
246        Giulietta Dortch              247
247        Giulietta Weimer              248
248             Grace Kelly              249
249          Grant Thornton              250
250            Greg Guthrie              251
251             Greg Hansen              252
252           Greg Matthias              253
253            Greg Maxwell              254
254               Greg Tran              255
255           Guy Armstrong              256
256             Guy Phonely              257
257            Guy Thornton              258
258            Harold Engle              259
259             Harold Ryan              260
260            Harry Greene              261
261             Harry Marie              262
262        Heather Kirkland              263
263           Helen Abelman              264
264          Helen Andreada              265
265         Helen Wasserman              266
266             Henia Zydlo              267
267           Henry Goldwyn              268
268       Henry MacAllister              269
269         Herbert Flentye              270
270           Hilary Holden              271
271           Hunter Glantz              272
272            Hunter Lopez              273
273           Ionia McGrath              274
274            Irene Maddox              275
275             Ivan Gibson              276
276             Ivan Liston              277
277              Jack Garza              278
278             Jack Lebron              279
279           Jack O'Briant              280
280            James Galang              281
281            Jamie Frazer              282
282            Jamie Kunitz              283
283               Jane Waco              284
284               Janet Lee              285
285            Janet Martin              286
286          Janet Molinari              287
287           Jas O'Carroll              288
288          Jason Fortune-              289
289             Jason Gross              290
290       Jason Klamczynski              291
291         Jasper Cacioppo              292
292                Jay Fein              293
293              Jay Kimmel              294
294            Jenna Caffey              295
295        Jennifer Braxton              296
296       Jennifer Ferguson              297
297       Jennifer Halladay              298
298        Jennifer Jackson              299
299           Jennifer Patt              300
300          Jeremy Ellison              301
301            Jeremy Farry              302
302         Jeremy Lonsdale              303
303           Jeremy Pistek              304
304          Jessica Myrick              305
305              Jill Fjeld              306
306           Jill Matthias              307
307          Jill Stevenson              308
308                 Jim Epp              309
309            Jim Karlsson              310
310             Jim Mitchum              311
311             Jim Radford              312
312                Jim Sink              313
313          Jocasta Rupert              314
314              Joe Elijah              315
315           Joe Kamberova              316
316              Joel Eaton              317
317            John Castell              318
318              John Dryer              319
319              John Grady              320
320             John Huston              321
321                John Lee              322
322              John Lucas              323
323             John Murray              324
324          John Stevenson              325
325        Jonathan Doherty              326
326         Jonathan Howell              327
327          Joni Blumstein              328
328          Joni Wasserman              329
329            Joseph Airdo              330
330             Joseph Holt              331
331               Joy Bell-              332
332             Joy Daniels              333
333               Joy Smith              334
334            Julia Dunbar              335
335              Julia West              336
336           Juliana Krohn              337
337         Julie Creighton              338
338        Justin Deggeller              339
339          Justin Ellison              340
340            Justin Hirsh              341
341      Justin MacKendrick              342
342           Justin Ritter              343
343            Kalyca Meade              344
344              Karen Bern              345
345          Karen Carlisle              346
346           Karen Daniels              347
347              Karen Seio              348
348              Karl Braun              349
349         Katharine Harms              350
350        Katherine Ducich              351
351        Katherine Hughes              352
352       Katherine Nockton              353
353         Katrina Edelman              354
354         Katrina Willman              355
355             Kean Nguyen              356
356           Kean Takahito              357
357           Kean Thornton              358
358           Keith Dawkins              359
359           Keith Herrera              360
360          Kelly Andreada              361
361         Kelly Collister              362
362           Kelly Lampkin              363
363          Kelly Williams              364
364               Ken Black              365
365             Ken Brennan              366
366                Ken Dana              367
367              Ken Heidel              368
368            Ken Lonsdale              369
369            Khloe Miller              370
370         Kimberly Carter              371
371        Kristen Hastings              372
372            Kunst Miller              373
373            Larry Blacks              374
374            Larry Hughes              375
375              Larry Tron              376
376         Laura Armstrong              377
377         Laurel Elliston              378
378          Laurel Workman              379
379      Lauren Leatherbury              380
380            Lela Donovan              381
381           Lena Cacioppo              382
382          Lena Creighton              383
383          Lena Hernandez              384
384            Lena Radford              385
385          Linda Cazamias              386
386        Linda Southworth              387
387        Lindsay Williams              388
388          Lisa DeCherney              389
389             Lisa Hazard              390
390               Lisa Ryan              391
391            Liz Carlisle              392
392         Liz MacKendrick              393
393           Liz Pelletier              394
394               Liz Preis              395
395            Liz Thompson              396
396          Liz Willingham              397
397            Logan Currie              398
398        Logan Haushalter              399
399             Loren Bowen              400
400              Lori Olson              401
401             Luke Foster              402
402            Luke Schmidt              403
403              Luke Weiss              404
404        Lycoris Saunders              405
405              Lynn Smith              406
406         Magdelene Morse              407
407              Marc Crier              408
408         Maria Bertelson              409
409           Maribeth Dona              410
410     Maribeth Schnelling              411
411         Maribeth Yedwab              412
412     Marina Lichtenstein              413
413            Maris LaWare              414
414            Mark Cousins              415
415           Mark Haberlin              416
416           Mark Hamilton              417
417           Mark Van Huff              418
418           Mary O'Rourke              419
419               Mary Zewe              420
420          MaryBeth Skach              421
421            Matt Collins              422
422          Matt Collister              423
423            Matt Connell              424
424         Matt Hagelstein              425
425          Matthew Clasen              426
426        Maureen Fritzler              427
427           Maureen Gnade              428
428           Maurice Satty              429
429               Max Engle              430
430               Max Jones              431
431        Maxwell Schwartz              432
432             Maya Herman              433
433             Meg Tillman              434
434           Melanie Seite              435
435            Michael Chen              436
436       Michael Dominguez              437
437         Michael Kennedy              438
438           Michael Moore              439
439          Michael Nguyen              440
440          Michael Oakman              441
441           Michael Paige              442
442         Michael Stewart              443

In [ ]:
# 16. Calculate the difference between the largest and smallest order quantities for product id ‘100.’
query = """
SELECT
  (MAX(od.quantity) - MIN(od.quantity)) AS difference
FROM order_details od
JOIN product p
  ON od.product_id = p.product_id
WHERE p.product_id = 100
"""

display(pd.read_sql(sa.text(query),connection))

   difference
0           4

In [ ]:
# 17.Calculate the percent of products that are within the category ‘Furniture.’
query = """
SELECT DISTINCT
  product_category,
  COUNT(product_id) OVER (PARTITION BY product_category) *100.0 / COUNT(product_id) OVER () AS category_percentage
FROM product

"""

display(pd.read_sql(sa.text(query),connection))

  product_category  category_percentage
0       Technology            22.270270
1        Furniture            20.540541
2  Office Supplies            57.189189

In [ ]:
# 18. Find what product manufacturers has more than 2 products Ex: A product with an identical product manufacturer can be considered a duplicate.
query = """
SELECT DISTINCT
  product_manufacturer,
  COUNT(product_id)AS number_products
FROM product
GROUP BY 1
HAVING COUNT(product_id) > 2
"""

display(pd.read_sql(sa.text(query),connection))

      product_manufacturer  number_products
0                      DAX               17
1                 REDIFORM                5
2    Executive Impressions               12
3                    Prang                3
4              Plantronics               15
5                  SanDisk                8
6                  Imation               11
7                    Dixon                9
8                 ACCOHIDE                3
9                    Other              356
10                   Bevis               11
11                 Fiskars                4
12                    Dana                3
13          WD My Passport                3
14                  Nortel                4
15                   Ampad                5
16                   Tyvek                4
17                     BIC                5
18             Office Star               12
19              Pressboard                4
20                    Luxo                5
21              O'Sullivan               13
22                  Maxell               12
23                  Hoover               10
24                Cardinal                8
25                Kingston                4
26         Space Solutions                3
27                    Hunt                4
28              Tripp Lite                3
29                  Holmes                8
30                   SAFCO               20
31                     RCA                5
32              Southworth                8
33                   Canon               10
34             Seth Thomas                6
35                   Zebra                4
36                   Ultra                4
37                Fellowes               35
38                  Carina                4
39                    Balt                3
40                Alliance                4
41                 Iceberg                3
42                 Sanford               11
43                      GE                7
44                    Sony                7
45                     Hon               33
46                 Lexmark                4
47                   Ibico               12
48               Universal                5
49                  Storex                3
50                 Tennsco               11
51                   Razer                3
52               Deflect-o                8
53                   Xerox              173
54                  Belkin               25
55                Advantus               13
56                    TOPS                7
57            Wilson Jones               23
58                  Sauder               11
59            Message Book                3
60                   Eldon               48
61                Electrix                5
62                   Cisco               17
63                   Nokia                3
64                 Memorex               13
65                   Apple                4
66                   Anker                6
67                     OIC                5
68              Chromcraft                6
69                  Tensor                4
70               Microsoft                5
71           Master Caster                4
72                     GBC               45
73                OtterBox                4
74                   Ativa                3
75                 NETGEAR                3
76                  Global               40
77                 Polycom                7
78                   Smead                3
79           Howard Miller               12
80                   Adams                9
81                  C-Line                4
82                   Epson                3
83                    AT&T               11
84          Binney & Smith                5
85                Atlantic                4
86            Westinghouse                3
87                 Okidata                6
88              Kensington               11
89                 Enermax                3
90               Panasonic               18
91                    Bush               13
92                  Rogers                4
93               KeyTronic                4
94                Logitech               36
95                Motorola                6
96               Wirebound               11
97               Honeywell                5
98                  Eureka                8
99                 Nu-Dell                5
100                     LG                3
101                     3M                6
102                   Acme               19
103                 Boston               18
104                 Newell               52
105             Strathmore                3
106        Hewlett-Packard               11
107                  Avery               98
108               Verbatim                5
109                  Tenex               16
110                   Acco               34
111               Bretford                4
112              Riverside                3
113                Novimex                4
114                Samsung               11
115                     HP                4
116                  Jabra                4
117                  Avaya                4

In [ ]:
# 19. Show the product_subcategory and the total number of products in the subcategory. Order from most to least products and then by product_subcategory name ascending. What is the first subcategory in the table?
query = """

"""

display(pd.read_sql(sa.text(query),connection))

In [ ]:
# 20. Show the product_id(s), the sum of quantities, where for each sale of product quantities is greater than or equal to 100.
query = """
SELECT
	product_id,
  SUM(quantity) AS total_products
FROM order_details
WHERE quantity >= 100
GROUP BY product_id
ORDER BY total_products DESC
"""

display(pd.read_sql(sa.text(query),connection))